.button {
    border: none;
    width: 200px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

#reset {
    background-color: gray;
    };
#red {
    background-color: red;
    };
#blue {
    background-color: blue;
    };
#purple {
    background-color: purple;
    };
#green {
    background-color: green;
    };
        


.btn-toggle-nav {
    cursor: pointer;
}

.nav-sidebar a{
    width: 100px;
    height: 40px;
}

.nav-sidebar ul{
padding-top: 0px;
overflow: hidden;
visibility: hidden;
}

.nav-sidebar ul li{
    line-height: 40px;
    height: 40px;
    list-style: none;
}

.nav-sidebar ul li a{
display: block;
height: 60px;
width: 100px;
padding: 0 10px ;
text-decoration: none;
text-transform: uppercase;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
white-space: nowrap;
opacity: 0;
transition: all 0.3s ease-in-out;
}